workflows/N8N_EU_Grants_MultiCompany2.json
{
  "name": "N8N_EU_Grants_MultiCompany",
  "nodes": [
    {
      "parameters": {
        "command": "cd C:\\Users\\Korisnik\\Desktop\\Alicorn\\n8n_eu_grants && node scrapers/eu_portal_scraper.js"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -464,
        -336
      ],
      "id": "e3a32316-8e4f-42f5-b61a-9a32d8c20c41",
      "name": "Scraper2"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst filePath = 'C:\\\\Users\\\\Korisnik\\\\Desktop\\\\Alicorn\\\\n8n_eu_grants\\\\data\\\\grants\\\\new_grants.csv';\n\nif (!fs.existsSync(filePath)) {\n  console.log('⚠️ new_grants.csv does not exist. Scraper may not have found new grants.');\n  return [\n    {\n      json: {\n        hasNewGrants: false,\n        message: 'new_grants.csv not found'\n      }\n    }\n  ];\n}\n\nconst stats = fs.statSync(filePath);\nconst fileSizeInBytes = stats.size;\nconst hasContent = fileSizeInBytes > 50; // header is ~40 bytes\n\nif (!hasContent) {\n  console.log('⚠️ new_grants.csv exists but has no content');\n  return [\n    {\n      json: {\n        hasNewGrants: false,\n        message: 'new_grants.csv exists but has no content',\n        fileSize: fileSizeInBytes\n      }\n    }\n  ];\n}\n\nconst buffer = fs.readFileSync(filePath);\n\nreturn [\n  {\n    json: {\n      hasNewGrants: true,\n      message: 'new grants file available',\n      fileSize: fileSizeInBytes\n    },\n    binary: {\n      data: await this.helpers.prepareBinaryData(buffer, 'new_grants.csv')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -336
      ],
      "id": "2f338984-0486-43a8-a9f6-d7e78af15b3c",
      "name": "Read_New_Grants",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9e93737-56f5-4509-8512-8e0e55096d6e",
              "leftValue": "={{ $json.hasNewGrants }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -400
      ],
      "id": "0dc21b1e-0047-40b3-a0a2-63ae6455baec",
      "name": "New_Grants_Empty?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09U22T1QDS",
          "mode": "id"
        },
        "text": "=There are 0 new grants today :( \n\nSee you tomorrow, fingers crossed :)",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        272,
        -496
      ],
      "id": "d929de2b-f267-42de-a7e2-5b2eeb2823bb",
      "name": "No_Grants_Today :(",
      "webhookId": "9d2b4f1b-7024-43ae-85aa-333fb3f11d87",
      "credentials": {
        "slackApi": {
          "id": "OPl2oluzAL1pxsas",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        272,
        -320
      ],
      "id": "c2569d63-73f9-40e4-9b6b-27751297477f",
      "name": "Extract_New_Grants"
    },
    {
      "parameters": {
        "jsCode": "// Read companies.json file\nconst fs = require('fs');\nconst companiesPath = 'C:\\\\Users\\\\Korisnik\\\\Desktop\\\\Alicorn\\\\n8n_eu_grants\\\\data\\\\companies.json';\n\nlet companies;\ntry {\n  const fileContent = fs.readFileSync(companiesPath, 'utf8');\n  companies = JSON.parse(fileContent);\n} catch (error) {\n  console.error('Error reading companies.json:', error);\n  return [];\n}\n\n// Get all grants from previous node\nconst grants = $input.all();\n\n// Create combinations: each grant × each company\nconst output = [];\n\nfor (const grantItem of grants) {\n  for (const company of companies) {\n    output.push({\n      json: {\n        // Grant data\n        grant: {\n          Title: grantItem.json.Title,\n          Link: grantItem.json.Link,\n          Date: grantItem.json.Date,\n          Description: grantItem.json.Description\n        },\n        // Company data\n        company: {\n          id: company.id,\n          name: company.name,\n          slack_channel_id: company.slack_channel_id,\n          slack_user: company.slack_user,\n          email: company.email,\n          profile: company.profile\n        }\n      }\n    });\n  }\n}\n\nconsole.log(`Created ${output.length} grant-company combinations (${grants.length} grants × ${companies.length} companies)`);\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -320
      ],
      "id": "82ddf0c1-8da0-4f49-b614-3a65aacbfe9e",
      "name": "Load_Companies_And_Combine"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are evaluating EU grant opportunities for a specific company.\n\nCOMPANY PROFILE:\n- Name: {{ $json.company.name }}\n- Country: {{ $json.company.profile.country }}\n- Description: {{ $json.company.profile.description }}\n- Sectors: {{ $json.company.profile.sectors.join(', ') }}\n- Keywords: {{ $json.company.profile.keywords.join(', ') }}\n- Company Size: {{ $json.company.profile.company_size }}\n\nGRANT OPPORTUNITY:\n- Title: {{ $json.grant.Title }}\n- Link: {{ $json.grant.Link }}\n- Date: {{ $json.grant.Date }}\n- Description: {{ $json.grant.Description }}\n\nTASK: Determine if this grant opportunity is relevant for this specific company.\n\nIf it IS relevant, respond with:\n\"Yes - [brief explanation in 1-2 sentences why this is relevant for this company]\"\n\nIf it is NOT relevant, respond only with:\n\"No\"\n\nNote: If this is just a news article or an announcement that does not contain any actionable opportunity (such as a call, funding offer, or partnership invitation), answer \"No\"."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -704,
        16
      ],
      "id": "3fd33207-2e86-40b5-87b6-0aff1b0ad264",
      "name": "Is it for me?",
      "credentials": {
        "openAiApi": {
          "id": "5eZOWb3xv1wrY3rP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efa461d4-85b2-4632-8949-a8d0fd165083",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "=Yes",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        16
      ],
      "id": "da622cbd-a561-4581-992c-fe43bca12334",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Based on the following grant information, extract and structure the data in JSON format:\n\nTitle: {{ $('Load_Companies_And_Combine').item.json.grant.Title }}\nDate: {{ $('Load_Companies_And_Combine').item.json.grant.Date }}\nDescription: {{ $('Load_Companies_And_Combine').item.json.grant.Description }}\n\nPlease extract the following information and return ONLY valid JSON with these fields:\n\n{\n  \"summary\": \"Summary of the grant call\",\n  \"total_funding_available\": \"Total amount of funding (include currency)\",\n  \"application_type\": \"Can organizations apply individually, must they apply in partnership, or both options are allowed?\",\n  \"partner_types\": [\"List types of partners required or allowed: academia/universities, industry/companies, government/public sector, NGOs, research institutes, etc.\"],\n  \"partner_origins\": [\"List geographic requirements: must partners be from specific countries, regions, EU members, international, etc.\"],\n  \"co_financing_required\": \"What percentage or amount of co-financing is required from applicants? (e.g., '20%', '50,000 EUR', or 'Not specified')\"\n}\n\nImportant instructions:\n- For \"application_type\": Be specific - say \"Individual applications only\", \"Partnership required (minimum 2 partners)\", \"Both individual and partnership applications accepted\", etc.\n- For \"partner_types\": List all types mentioned (e.g., [\"SMEs\", \"Large companies\", \"Universities\", \"Research institutes\"])\n- For \"partner_origins\": Be specific about geographic requirements (e.g., [\"EU member states\", \"Associated countries\"], or [\"International - no restrictions\"])\n- If any information is not found in the description, use \"Not specified\" for that field.\n\nReturn ONLY the JSON object, no additional text."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -80,
        -80
      ],
      "id": "a24cbe9a-fe04-45b9-9b6c-4b0b2af39056",
      "name": "Extract Information",
      "credentials": {
        "openAiApi": {
          "id": "5eZOWb3xv1wrY3rP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and add company + grant context\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get the AI response text\n  let aiResponse = item.json.output?.[0]?.content?.[0]?.text || '{}';\n  \n  // Try to parse JSON from the response\n  let extracted = {};\n  try {\n    // Find JSON in the response (in case there's extra text)\n    const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      extracted = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    console.error('Failed to parse AI response as JSON:', e);\n    extracted = {\n      summary: 'Failed to extract',\n      total_funding_available: 'Not specified',\n      application_type: 'Not specified',\n      partner_types: [],\n      partner_origins: [],\n      co_financing_required: 'Not specified'\n    };\n  }\n  \n  // Get company and grant data from the Load_Companies_And_Combine node\n  const companyData = $('Load_Companies_And_Combine').item.json.company;\n  const grantData = $('Load_Companies_And_Combine').item.json.grant;\n  \n  results.push({\n    json: {\n      // Extracted grant details\n      summary: extracted.summary || 'Not specified',\n      total_funding_available: extracted.total_funding_available || 'Not specified',\n      application_type: extracted.application_type || 'Not specified',\n      partner_types: Array.isArray(extracted.partner_types) ? extracted.partner_types.join(', ') : (extracted.partner_types || 'Not specified'),\n      partner_origins: Array.isArray(extracted.partner_origins) ? extracted.partner_origins.join(', ') : (extracted.partner_origins || 'Not specified'),\n      co_financing_required: extracted.co_financing_required || 'Not specified',\n      \n      // Grant info\n      title: grantData.Title,\n      link: grantData.Link,\n      date: grantData.Date,\n      \n      // Company info for Slack routing\n      company_name: companyData.name,\n      company_id: companyData.id,\n      slack_channel_id: companyData.slack_channel_id,\n      \n      // Relevance info from \"Is it for me?\" node\n      relevant: 'Yes'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -80
      ],
      "id": "504203f8-6b67-493c-a206-841a95e2cee5",
      "name": "To_JSON"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "=🎯 *New Grant Match for {{ $json.company_name }}!*\n\n📋 *Title:* {{ $json.title }}\n\n📝 *Summary:*\n{{ $json.summary }}\n\n📅 *Due Date:* {{ $json.date }}\n\n💰 *Total Funding Available:* {{ $json.total_funding_available }}\n\n👥 *Application Type:* {{ $json.application_type }}\n\n🤝 *Partner Types:* {{ $json.partner_types }}\n\n🌍 *Partner Origins:* {{ $json.partner_origins }}\n\n💵 *Co-financing Required:* {{ $json.co_financing_required }}\n\n🔗 *Link:* {{ $json.link }}\n\n---\n_Matched for: {{ $json.company_name }}_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        448,
        -80
      ],
      "id": "79cf3fc0-4b03-4542-94df-471045b109fe",
      "name": "Send_Personalized_Message",
      "webhookId": "9d2b4f1b-7024-43ae-85aa-333fb3f11d87",
      "credentials": {
        "slackApi": {
          "id": "OPl2oluzAL1pxsas",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\n// Get data from Load_Companies_And_Combine node\nconst grantData = $('Load_Companies_And_Combine').item.json.grant;\nconst companyData = $('Load_Companies_And_Combine').item.json.company;\n\nconst title = grantData.Title;\nconst link = grantData.Link;\nconst date = grantData.Date;\nconst description = grantData.Description;\nconst companyId = companyData.id;\nconst companyName = companyData.name;\n\n// This node is on FALSE branch, so relevant is \"no\"\nconst relevant = \"no\";\n\n// Escape double quotes in description\nconst escapedDescription = description.replace(/\"/g, '\"\"');\nconst csvRow = `\"${title}\",\"${link}\",\"${date}\",\"${escapedDescription}\",\"${companyId}\",\"${companyName}\",\"${relevant}\"\\n`;\n\n// Path to CSV file\nconst csvPath = 'C:\\\\Users\\\\Korisnik\\\\Desktop\\\\Alicorn\\\\n8n_eu_grants\\\\data\\\\processed\\\\non_relevant.csv';\n\n// Check if file exists, if not create with header\nif (!fs.existsSync(csvPath)) {\n  const header = '\"Title\",\"Link\",\"Date\",\"Description\",\"CompanyId\",\"CompanyName\",\"Relevant\"\\n';\n  fs.writeFileSync(csvPath, header);\n}\n\n// Append new row to CSV\nfs.appendFileSync(csvPath, csvRow);\n\nreturn [\n  {\n    json: {\n      message: `Grant \"${title}\" marked as not relevant for ${companyName}`,\n      title: title,\n      link: link,\n      date: date,\n      company_id: companyId,\n      company_name: companyName,\n      relevant: relevant\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        80
      ],
      "id": "54d1805c-ad79-462f-92e4-aa348283fe68",
      "name": "Non_Relevant_CSV"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        -336
      ],
      "id": "5f890e71-17f1-42d7-a71e-94e277e51aed",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Scraper2": {
      "main": [
        [
          {
            "node": "Read_New_Grants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read_New_Grants": {
      "main": [
        [
          {
            "node": "New_Grants_Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New_Grants_Empty?": {
      "main": [
        [
          {
            "node": "No_Grants_Today :(",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract_New_Grants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_New_Grants": {
      "main": [
        [
          {
            "node": "Load_Companies_And_Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load_Companies_And_Combine": {
      "main": [
        [
          {
            "node": "Is it for me?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it for me?": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Information",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non_Relevant_CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information": {
      "main": [
        [
          {
            "node": "To_JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To_JSON": {
      "main": [
        [
          {
            "node": "Send_Personalized_Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Scraper2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11bba227-d780-45e8-98ed-2108571aa3b6",
  "meta": {
    "instanceId": "83a32f2e7edb8835cdf7075f15980f111fdb703a9950985f814febcaa25cace9"
  },
  "id": "RK4XZuScuulSMJqh",
  "tags": []
}